# 结论推导测试题
在下面的空白处探索 `store_data.csv`，回答以下测试题。

In [1]:
# 导入并加载数据
import pandas as pd
import numpy as np
store = pd.read_csv('store_data.csv')
store['week'] = pd.to_datetime(store['week'])

In [2]:
# 最后一个月的总销售额
store['month']=store.week.dt.month
store[store['month']==12].loc[:,'storeA':'storeE'].values.sum()

428795

In [3]:
# 探索数据
store.head()
#store.describe()

        week  storeA  storeB  storeC  storeD  storeE  month
0 2014-05-04    2643    8257    3893    6231    1294      5
1 2014-05-11    6444    5736    5634    7092    2907      5
2 2014-05-18    9646    2552    4253    5447    4736      5
3 2014-05-25    5960   10740    8264    6063     949      5
4 2014-06-01    7412    7374    3208    3985    3023      6

In [4]:
# 平均销售额
store.loc[:,'storeA':'storeE'].values.mean()

5115.1450000000004

In [5]:
# 2016 年 3 月 13 日的销售额
print(store[store['week']=='2016-03-13'])
store[store['week']=='2016-03-13'].sum(axis=1)

         week  storeA  storeB  storeC  storeD  storeE  month
97 2016-03-13    2054    1390    5112    5513    2536      3

97    16608
dtype: int64

In [6]:
# C 店销售额最低的一周
store[store['storeC']==store['storeC'].min()]

        week  storeA  storeB  storeC  storeD  storeE  month
9 2014-07-06    8567    3228     927    3277     168      7

In [7]:
# 最近 3 个月的总销售额
store[store['month']>9].loc[:,'storeA':'storeE'].values.sum()

1333658

方法2：

In [9]:
# 导入并加载数据
import pandas as pd
df = pd.read_csv('store_data.csv')

In [10]:
# 探索数据
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null object
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [11]:
df['week'] = pd.to_datetime(df['week'])

df['week'].describe()

count                     200
unique                    200
top       2015-07-19 00:00:00
freq                        1
first     2014-05-04 00:00:00
last      2018-02-25 00:00:00
Name: week, dtype: object

In [12]:
#上个月的总销售额
final_month = pd.Timestamp('2018-02-01')
df_final_month = df[df['week'] >= final_month]
df_final_month.iloc[:, 1:].sum().argmax()

'storeA'

In [13]:
# 平均销售额
df.iloc[:, 1:].mean().argmax()

'storeB'

In [14]:
# 2016 年 3 月 13 日的销售额
df_20160313 = df[df['week'] == pd.Timestamp('2016-03-13')]
df_20160313.iloc[:, 1:].sum().argmax()

'storeD'

In [15]:
# C 店销售额最低的一周
df_index = df.set_index('week')
df_index['storeC'].argmin()

Timestamp('2014-07-06 00:00:00')

In [16]:
# 最近 3 个月的总销售额
last_3_month = pd.Timestamp('2017-12-01')
df_last_3_month = df[df['week'] >= last_3_month]
df_last_3_month.iloc[:, 1:].sum().argmax()

'storeA'